/* место для вашего кода */

/*Header general*/
.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  height: 105px;
  margin: 92px 24px 96px;
  background-color: yellow;
}
/*Header list*/
.header__menu {
  padding-top: 44px;
  padding-right: 22px;
  background-color: pink;
  
}
.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 28px;
  list-style: circle;
  background-color: purple;
}
.header__links-list-item_no-bullit {
  list-style: none;
}
.header__link {
  padding-left: 0.5ch;
  color: #000;
  font-weight: normal;
  font-size: 18px;
  line-height: auto;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 0.3em;
  text-wrap: nowrap;
}
.header__link_active {
  text-decoration: none;
}

/*Header logo*/
.header__logo {
  display: block;
  width: 140px;
}
.header__logo-image {
  width: 100%;
}
/*Header address*/
.address {
  color: #000;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  text-decoration: none;
  text-underline-offset: 0.3em;
}
.header__address {
  padding: 5px 25px 3px 184px;
}



/*Cover general*/
.cover {
  position: relative;
  width: auto;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: #000;
}
.cover__title {
  position: relative;
  margin-bottom: 135px;
  padding-top: 165px;
  padding-right: 50px;
  padding-left: 50px;
}
.aligned-text {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.aligned-text_center {
  line-height: 1;
  text-align: center;
}
.aligned-text_right {
  line-height: 1;
  text-align: right;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}
.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 79px;
}
.cover__description-text {
  padding-top: 12px;
  padding-left: 78px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 0.83em;
}
.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

/*Lots general*/
.lots {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 179px 24px 73px;
  background-color: pink;
}
.lots__heading {
  padding: 0 891px 27px 40px;
}
.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  list-style: none;
}
.card {
  width: 334px;
  height: 563px;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.lots__look-more-link {
  padding: 30px 820px 10px 40px;
}
/*About general*/
.about {
  padding: 73px 24px 180px;
  background-color: green;
}

/*Footer general*/
.footer {
  padding: 0px 50px 88px;
  background-color: beige;
}